/* css here */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Poppins', sans-serif;
	padding-top: 0px;
}



body::-webkit-scrollbar {
	width: 5px;
	}
	
	body::-webkit-scrollbar-track {
	background: #ddd;
	}
	
	body::-webkit-scrollbar-thumb {
	background: #85b1ea;
	}
	
	.listingholder {
	height: 250px !important;
	}
	
	.listingholder::-webkit-scrollbar {
	width: 3px;
	}
	
	.listingholder::-webkit-scrollbar-track {
	background: #ddd;
	}
	
	.listingholder::-webkit-scrollbar-thumb {
	background: #85b1ea;
	}
.App-wrapper {
	width: 367px;
	height: 600px;
	box-shadow: none;
  }
input:focus, button:focus, textarea:focus, select:focus{
	outline: none !important;
}
a{
	text-decoration: none;
}
.loginscreen{
	background-image: url("../../images/pexels-fwstudio-129731.jpg");
	padding: 3px;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.loginscreen .graphics1,
.loginscreen .graphics2 {
    width: 200px;
    height: 200px;
    position: absolute;
    background: transparent;
    border: 26px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    top: -100px;
    left: -100px;
    z-index: 0;
}
.loginscreen .graphics2 {
	 top: 12px;
    left: auto;
    right: -100px;
    border: 36px solid rgba(255,255,255,0.2);
}
.loginscreen .logo{
	width: 100%;
	padding: 38px 0;
	text-align: center;
	position: relative;
    z-index: 1;
}
.loginscreen .logo img{
	max-width: 100%;
}
.login_container{
	width: 100%;
	background: #fff;
	border-radius: 30px 30px 0 0;
	padding: 30px 30px 98px;
	height: 466px;
}

.login_welcome_block{
	color: #010101;
	font-size: 13px;
}
.login_welcome_block h3{
	color: #000;
	font-size: 25px;
	font-weight: normal;
	margin: 0px;
	padding: 0px 0 25px 0;
}

.login_block label {
    height: 36px;
    line-height: 36px;
    background: #F3F6FF;
    border: 1px solid #D9E3EC;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 20px;
}
.login_block label span {
    text-align: center;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    background: #fff;
    position: relative;
    border: 1px solid #D9E3EC;
    top: -4px;
	left: -1px;
	line-height: 28px;   /*this line is new or changed*/
}
.login_block label input {
    border: none;
    background: transparent;
    line-height: 34px;
    height: 34px;
    vertical-align: top;
    color: #708399;
    font-size: 12px;
	width: 220px;
}
.text-right{
	text-align: right;
}
.login_block label input:placeholder {
    color: #708399;
}

.blue_btn{
	background: #f1c489;
	border: 1px solid #a7815a;
    border-radius: 80px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: 0;
    cursor: pointer;
}
.gap1{
	padding-bottom: 16px;
}
.link{
	font-size: 12px;
	color: #8A8A8A;
	text-decoration: underline;
}
.login_signup{
	text-align: center;
	padding: 10px 0;
	font-size: 12px;
	color: #090C16;
}

.login_signup a{
	color: #0262FE;
}


.footer{
	text-align: center;
	padding: 20px 0px;
	font-size: 12px;
	color: #090C16;
	position: absolute;    /*this line is new or changed*/
    left: 0;    /*this line is new or changed*/
    width: 100%;    /*this line is new or changed*/
    bottom: 1px;     /*this line is new or changed*/
}
.footer a{
	color: #0262FE;
	text-decoration: underline;
}

.footer img{
	margin: 2px 10px;
    border-radius: 3px;
}


.dashboard{
	background-image: url("../../images/pexels-fwstudio-129731.jpg");
	
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	height: 100%;
	position: relative;
	overflow: hidden;
	overflow-y: auto;
	min-height: 600px;
	padding: 0 0 98px 0;
}
.gen_header{
	padding: 10px 10px 10px 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

/*.gen_header .logo{
	width: 190px;
}*/
.gen_header .logo img{
	max-width: 100%
}

.box_1{
	background: transparent;
	height: 34px;
	margin: 0 15px 0 0;
	position: relative;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
}

input[type="checkbox"].switch_1{
	font-size: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 69px;
    height: 34px;
    background: rgb(218 225 228);
    border: 1px solid #d4d8da;
    border-radius: 3em;
    /*background: #e0e3e4;*/
    position: relative;
    box-shadow: 0 2px 8px 1px rgb(162 180 192 / 95%) inset;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 0;
  }
  
  input[type="checkbox"].switch_1:checked{
	   background: #0262FE;
	   border: 1px solid #0262FE;
	   box-shadow: 1px 3px 4px 2px rgb(0 0 0 / 30%) inset;
  }
  
 .box_1 .toogler{
	position: absolute;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: #B2B2B2;
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	top: -1px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border: 1px solid #fff;
	background: transparent linear-gradient(157deg, #CECECE 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 5px #00000029;
  }
  
  input[type="checkbox"].switch_1:checked + .toogler{
	left: calc(100% - 34px);
	background:  transparent linear-gradient(203deg, #CECECE 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
	border: 1px solid transparent;
  }


.box_1 .toogler:before{
	font-size: 19px;
    content: "OFF";
    position: absolute;
    right: -40px;
    top: 1px;
    color: rgb(162 180 192 / 86%);
    font-weight: 600;
}
 input[type="checkbox"].switch_1:checked + .toogler:before{
 	content: "ON";
    right: auto;
    left: -40px;
    color: #fff;
 }
.hBtnWrapper{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.side_click {
    display: inline-block;
    padding-top: 10px;
}

.after_log_profile{
	width: 100%;
	text-align: center;
	padding: 55px 0 40px;
}
.after_log_profile img{
	width: 81px;
	height: 81px;
	border-radius: 50%;
	border: 1px solid #057ED9;
}
.after_log_profile p{
	font-size: 14px;
	color: #242D48;
	padding: 0;
	margin: 0;
}
.after_log_profile h3{
	font-size: 24px;
	line-height: 24px;
	color: #242D48;
	font-weight: 500;
	padding: 0;
	margin: 0;
}
.fb_login_request{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 15px;
}
.fb_login_request p{
	font-size: 14px;
	color: #242D48;
	padding: 55px 0 32px;
	margin: 0;
	text-align: center;
	width: 100%;
}

.fb_login_request .bluebtn,
.fb_login_request .whitebtn{
	background: #057ED9;
    border-radius: 80px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: 0;
    cursor: pointer;
    margin: 0 11px;
}
.fb_login_request .whitebtn{
	background: #fff;
    color: #057ED9;
}

.fb_login_request .bluebtn img,
.fb_login_request .whitebtn img{
	margin-right: 9px;
}

.login_caution{
    width: 100%;
    min-height: 124px;
    background: hsl(0deg 0% 100% / 57%);
    border-top: 1px solid #a7815a;
    border-bottom: 1px solid #a7815a;
    padding: 30px 30px 20px;
    text-align: center;
    font-size: 12px;
    position: relative;
    margin: 0 0 30px;
}
.login_caution img {
	position: absolute;
	top: -15px;
	left: calc(50% - 15px);
	width: 30px;
	height: 30px;
	z-index: 2;
}

.after_login_refresh{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10000;
	background: rgba(235,239,242,0.85);
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.after_login_enable_notification{
	width: 100%;
	height: calc(100% - 65px);
	top: 65px;
	position: absolute;
	z-index: 10000;
	background: rgba(235,239,242,0.85);
	display: flex;
	flex-wrap: wrap;
}
.after_login_enable_notification .error_box {
    border-radius: 40px;
    background: #fff;
    /* border: 1px solid #FF1A1A; */
    color: #FF1A1A;
    font-weight: 500;
    padding: 0 10px;
    position: relative;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    width: auto;
    margin: 4px 10px;
    box-shadow: 0px 10px 15px #ff1a1a26;
}
.after_login_enable_notification .error_box:before,
.after_login_enable_notification .error_box:after{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7.5px 10px 7.5px;
	border-color: transparent transparent #ffffff transparent;
	position: absolute;
	top: -10px;
	right: 60px;
}
.after_login_enable_notification .error_box:before {
    border-color: transparent transparent #FF1A1A transparent;
    top: -11px;
}
.after_login_enable_notification, .after_login_refresh {
    width: 100%;
    position: fixed;  /*this line is new or changed*/
    z-index: 10000;
    background: rgba(235,239,242,.85);
    display: flex;
    flex-wrap: wrap;
    top: 0;  /*this line is new or changed*/
    left: 0;   /*this line is new or changed*/
}
.insert_msg, .insert_msg .insert {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    order: -1;   /*this line is new or changed*/
}
.slider_menu {
    width: 250px;
    height: 100%;
    position: absolute;
    background: #fff;
    box-shadow: -2px 0 11px 0px rgba(0,0,0,0.2);
    right: 0;
    top: 0;
    z-index: -2;
    transition: 0.5s;
    transform: translateX(260px);
    opacity: 0;
}
.slider_menu.active {
	transition: 0.5s;
	z-index: 10;
	opacity: 1;
    transform: translateX(0px);
}
.slider_menu .after_log_profile {
    padding: 45px 0;
}
.slider_menu .after_log_profile img {
    width: 60px;
    height: 60px;
}

.slider_menu .after_log_profile h3 {
    font-size: 16px;
    line-height: 20px;
    color: #000;
}
.slider_menu .cross {
    font-size: 24px;
    line-height: 20px;
    color: #000;
    position: absolute;
    right: 24px;
    top: 25px;
    transform: scaleY(0.8);
}
.menunav{
	margin: 0 0 0 20px;
	padding: 0;
	list-style: none;
}

.menunav li{
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	width: 100%;
	margin-bottom: 4px;
}

.menunav li a {
    color: #000000;
    width: 100%;
    padding: 6px 0;
    display: flex;
}

.menunav li a img{
	margin-right: 9px;
}

/*..........................................
tabed section
.........................................*/

ul.maintab {
    margin: 0 20px;
    padding: 0;
    list-style: none;
    display: flex;
}

ul.maintab li {
    width: 49%;
    display: inline-block;
}
ul.maintab li a{
	width: 100%;
	height: 46px;
	line-height: 46px;
	display: inline-block;
	border-radius: 40px 0 0 40px;
	background: #FFFFFF;
	font-size: 15px;
	text-align: center;
	color: #057ED9;
	box-shadow: 0px 0 6px 1px rgba(0,0,0,0.2);
}
ul.maintab li:last-child a{
	border-radius: 0 40px 40px 0;
}

ul.maintab li a.active{
	background: #057ED9;
	color: #fff;
}

.subtab{
	width: 100%;
	background: #fff;
	padding: 0px;
	margin: 25px 0 0;
	list-style: none;
	display: flex;
}
.subtab li{
	display: inline-block;
	width: 50%;
	text-align: center;
	font-size: 14px;
}
.subtab li:last-child{
	border-left: 1px solid #dbdee0;
}
.subtab li a{
	display: flex;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #ADB5BC;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.subtab li a.active{
	color: #000000;
}
.subtab li a.active:after{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 8.5px 0 8.5px;
	border-color: #ffffff transparent transparent transparent;
	position: absolute;
	left: calc(50% - 4.5px);
	bottom: -10px;
}

.subtab li a img{
	margin-right: 8px;
}
.subtab li a img.active,
.subtab li a.active img.inactive{
	display: none;
}

.subtab li a img.inactive,
.subtab li a.active img.active{
	display: inline-block;
}

.subtabcontent {
    padding: 20px;
}

.list_no_record{
	padding: 80px 15px 40px;
	text-align: center;
	font-size: 14px;
	color: #565656;
}
.createbtn{
	background: #057ED9;
    border-radius: 80px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    display: inline-block;
    text-align: center;
    font-size: 11px;
    color: #fff;
    border: 0;
    cursor: pointer;
    margin: 0px;
}
.createbtn img {
    margin-right: 3px;
	vertical-align: middle;
}

.headding{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	color: #000;
	font-size: 14px;
}

.listing_card{
	width: 100%;
	margin-top: 18px;
}

.listing_card .head{
	width: 100%;
	background: #4ECB66;
	border-radius: 22px 22px 0px 0px;
	padding: 6px 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.listing_card .body{
	width: 100%;
	border-radius: 0 0 22px 22px;
	border: 1px solid #D9E3EC;
	background: #fff;
	padding: 15px 20px 45px;
	min-height: 125px;
	position: relative;
}

.listing_card .head .txt{
	font-size: 16px;
	color: #fff;
	width: 50%;
}

.subtabcontent label.box_2 {
    background: transparent;
    height: 20px;
    margin: 0 15px 0 0;
    position: relative;
    width: auto;
}
input[type="checkbox"].switch_2{
	font-size: 30px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 34px;
    height: 20px;
	background: #ADB5BC;
	border: 1px solid #D0D6DB;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	margin: 0;
  }
  
  input[type="checkbox"].switch_2:checked{
	   background: #fff;
	   border: 1px solid #fff;
  }
  
 .box_2 .toogler{
	position: absolute;
	content: "";
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #D0D6DB;
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 3px;
	top: 3px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_2:checked + .toogler{
	left: calc(100% - 16px);
	background: #4ECB66;
  }

.listing_card .head .action{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.listing_card .head .action a{
	padding: 9px 7px 3px;
    display: inline-block;
}

.listing_card .body p.qn{
	font-size: 14px;
	color: #565656;
	margin: 0 0 14px 0;
}

.listing_card .body .listfooter{
	position: absolute;
	bottom: 12px;
}
.listing_card .body .listfooter p{
	color: #ADADAD;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
.listing_card .body .listfooter .tags{
	background: #D9E3EC;
    color: #565656;
    padding: 2px 7px;
    display: inline-block;
    margin: 3px 6px 3px 0;
    font-size: 12px;
    border-radius: 3px;
}

.listing_card.inactive .head {
    background: #adb5bc;
}

.subtabcontent label{
	font-size: 14px;
    color: #000;
    margin-bottom: 9px;
    width: 100%;
    display: inline-block;
}

.subtabcontent label span{
	color: #7E7E7E;
}
.subtabcontent input,
.subtabcontent .selectbox,
.subtabcontent textarea{
	height: 40px;
	line-height: 40px;
	background: #FFFFFF;
	border: 1px solid #D9E3EC;
	border-radius: 22px;
	color: #000;
	width: 100%;
	margin-bottom: 13px;
	padding: 0 14px;
	font-size: 14px;  /*this line is new or changed*/
}
.subtabcontent textarea{
	border-radius: 40px 40px 0 40px;
    min-height: 63px;
    height: auto;
    font-family: 'Poppins', sans-serif;
    line-height: 22px;
    padding: 10px 15px;
    box-sizing: border-box;
}
.subtabcontent textarea.withtag{
	margin-bottom: 1px;
}
.subtabcontent .formtag{
	color: #057ED9;
	background: transparent;
	padding: 2px 5px;
	display: inline-block;
	margin: 1px 3px;
	font-size: 12px;
	border-radius: 20px;
	border: none;   /*this line is new or changed*/
}
.subtabcontent .formtag:hover{
	color: #fff;
	background: #057ED9;
}
.subtabcontent .checking{
	margin: 7px 4px 7px;   /*this line is new or changed*/
    width: 20px; /*this line is new or changed*/
    height: 20px; /*this line is new or changed*/
    vertical-align: middle; /*this line is new or changed*/
	position: relative;
	display: inline-block;
}
.subtabcontent .checking input[type="checkbox"] {
    display: inline-block;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	height: 18px;
	width: 18px;
	padding: 0;
	background: #FFFFFF;
	border: 1px solid #D9E3EC;
	border-radius: 0;
	margin: 0;
	vertical-align: middle;
}
.subtabcontent .checking input[type="checkbox"] + span{
	display: none;
	position: absolute;
	left: 3px;
	top: 0;
}
.subtabcontent .checking input[type="checkbox"]:checked + span{
	display: inline-block;
}

.subtabcontent .selectbox{
	margin: 18px 0;
}
.subtabcontent .selectbox select{
	width: 100%;
	background: transparent url(../../images/arrow1.svg) right 15px no-repeat;
	border: none;
	height: 100%;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}
.gap2{
	margin-top: 20px;
}
.formnumber{
	margin: 0 0 15px 0;
	font-size: 13px;
	position: relative;
}

.formnumber input[type="number"] {
    width: 80%;
    background: #fff url(../../images/arrow1.svg) 95% 18px no-repeat;
    -webkit-appearance: none;
	   -moz-appearance: none;
}

.segmentlists{
	width: 100%;
	margin: 20px 0; 
}

.segmentlist{
	background: #fff;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 14px 1px rgb(0 0 0 / 15%);
    padding: 0 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.segmentlist .txt{
	color: #000;
	font-size: 14px;
}
.segmentlist .action{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 55px;
}
.segmentlist .action a{
	margin: 0 4px;
}
.headding .big{
	font-size: 16px;
}

.roundarrow{
	background: #057ED9;
    border-radius: 50%;
    height: 27px;
    line-height: 24px;
    width: 27px;
    text-align: center;
    box-shadow: 0px 2px 9px 2px rgb(0 0 0 / 20%);
}
.subtabcontent textarea.otherstyle{
	line-height: 22px;    /*this line is new or changed*/
    border-radius: 5px;
    font-size: 12px;    /*this line is new or changed*/
    padding-right: 40px;    /*this line is new or changed*/
}
.subtabcontent input.otherstyle::placeholder,
.subtabcontent textarea.otherstyle::placeholder{
	color: #B2B6B9;
}

.addblock{
	width: 100%;
	position: relative;
}

.addblock .add{
	position: absolute;
	right: 19px;
	top: 15px;
	color: #057ED9;
	font-size: 14px;
	text-decoration: underline;
}

.selectedBlock{
    background: #fff;
	padding: 0 5px 0 12px;
	min-height: 31px;
    height: auto;
    line-height: 30px;
    color: #B2B6B9;
    font-size: 14px;
    border: 1px solid #D9E3EC;
    border-radius: 18px;
    display: inline-block;
    margin: 3px 3px 0 0;
}
.selectedBlock .cross{
	width: 18px;
    height: 20px;
    line-height: 19px;
    background: #7E7E7E;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 15px;
    display: inline-block;
	transform: scaleY(0.9);
	margin-left: 4px;
}

.blue_link{
	color: #057ED9;
	font-size: 16px;
	text-decoration: underline;
}
.group_delete_sreen {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(235 239 242 / 80%);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
	z-index: 100;
}

.group_delete_popup {
    margin: 10px 25px;
    width: calc(100% - 60px);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px #00000029;
}
.group_delete_popup h3{
    font-size: 16px;
    color: #000;
    padding: 0 0 6px;
    margin: 0;
    font-weight: 500;
}
.group_delete_popup p{
	font-size: 13px;
	color: #3E454E;
	padding: 0 0 10px;
	margin: 0;
}
.bluelink1, .redlink{
	font-size: 15px;
	display: inline-block;
	line-height: 25px;
	padding: 2px 8px;
	color: #F95875;
}
.bluelink1{
	color: #0262FE;
}

.insert_msg{
	min-height: 40px;
    line-height: 40px;
    background: #FFFFFF;
    border: 1px solid #D9E3EC;
    border-radius: 22px;
    color: #000;
    width: 100%;
    margin-bottom: 33px;
    padding: 0px 3px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}
.insert_msg .insert {
    background: #EBEFF2;
    border-radius: 18px;
    font-size: 13px;
    color: #7E7E7E;
    height: 30px;
    line-height: 26px;
    margin: 0 3px;
    flex-wrap: wrap;
    display: flex;
    padding: 0 20px 0 7px;
    position: relative;
    align-items: center;
}
.insert_msg .insert span {
    width: 18px;
    height: 18px;
    line-height: 19px;
    background: #7E7E7E;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-right: 3px;
}


.insert_msg .insertdropdown{
	background: #FFFFFF;
    box-shadow: 0px 5px 20px #00000029;
    border-radius: 5px;
    padding: 6px 14px;
    position: absolute;
    width: 145px;
    left: 22px;
	top: 30px;
	z-index: 2;
} 
.insert_msg .insertdropdown ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.insert_msg .insertdropdown ul li{
	color: #000000;
    font-size: 12px;
    line-height: 27px;
    font-weight: 500;
}
.insert_msg .insertdropdown ul li a{
	color: #000000;
}
.insert_msg .insertdropdown ul li a:hover{
	color: #333;
}
.insert_msg .insertdropdown:before{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 10px 8px;
	border-color: transparent transparent #fcfcfc transparent;
	position: absolute;
	top: -8px;
	left: 20px;
}

.insert_msg .addedinsert{
    background: #7E7E7E;
    border-radius: 18px;
    font-size: 13px;
    color: #fff;
    height: auto;
	line-height: 26px;
	min-height: 30px;
    margin: 0 3px;
    display: inline-block;
    padding: 2.5px 6px 2px 6px;
    position: relative;
    box-sizing: border-box;
}

.insert_msg .addedinsert a{
    width: 18px;
    height: 18px;
    line-height: 18px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    color: #fff;
}
.inserone{
	left: 153px !important;
    top: 10px !important;
}
.insertwo{
	left: 153px !important;
    top: 25px !important;
}
.inserthree{
	left: 153px !important;
    top: 45px !important;
}
/*.......................
new style added for modification
................................*/

.content.container-fluid{
    padding: 0;
    height: 100%;
}

.login_block {
    margin-bottom: 10px;
}

.createbtn:hover{
	color: #fff;
}

.listingholder {
	height: 256px;
    overflow: auto;
    /* margin: 0px 0; */
    margin-top: 10px;
    margin-left: 0px;
    margin-right: -14px;
    margin-bottom: -25px;
}   /*this is the new class for auto responder container for scrolling */

.insert_msg .insert span img {
    vertical-align: baseline;
}

.insert_msg .insertdropdown.inserone::before,
.insert_msg .insertdropdown.insertwo::before,
.insert_msg .insertdropdown.inserthree::before{
	width: 0;
    height: 0;
    border-style: solid;
    left: -8px;
    border-width: 5px 8px 5px 0;
    border-color: transparent #ffffff transparent transparent;
    top: 10px;
}


.error {
	width: 100%;
    padding: 2px 9px 4px;
    color: red;
    border-radius: 22px;
    font-size: 13px;
    margin-bottom: 10px;
}

.css-yk16xz-control {
    background-color: transparent !important;
    border-color: transparent !important;
    height: 36px;
 }

 .css-1hwfws3 {
    height: 36px;
	position: static !important;
	padding: 2px 8px 2px 0 !important;
}
.css-1okebmr-indicatorSeparator {
    align-self: stretch;
    background-color: transparent!important; /*this line is new or changed*/
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
}

.css-1pahdxg-control:hover,
.css-1pahdxg-control{
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}

.css-1uccc91-singleValue {
	color: rgb(51, 51, 51);
	margin-left: 2px;
	margin-right: 2px;
	max-width: calc(100% - 8px);
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 36px;
	top: 0px;
	transform: none;
	line-height: 36px;
	box-sizing: border-box;
 }
 .tag-wrapper.ReactTags__tag {
	color: #057ed9;
    background: #fff;
    padding: 2px 5px 2px 7px;
    display: inline-block;
    margin: 1px 3px;
    font-size: 14px;
    border-radius: 20px;
    line-height: 20px;
    border: 1px solid #ddd;
}
.tag-wrapper.ReactTags__tag .ReactTags__remove {
    width: 16px;
    height: 16px;
    line-height: 13px;
    font-size: 15px;
    padding: 0;
    border-radius: 30px;
    border: 1px solid #057ed9;
    margin: 0 0px 0 3px;
    color: #057ed9;
}
.segmentlist .txt:first-child {
	width: 140px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	white-space: pre;
}
.segmentlist .txt:nth-child(2) {
	background: #edf3ff;
	padding: 2px 5px;
	border-radius: 3px;
}
.segmentlist .txt:nth-child(2) br{
	display: none;
}
.formnumber input[type=number] {
	margin-right: 18px;
}
.css-tlfecz-indicatorContainer {
	padding: 8px 0 8px 0 !important;
}

.login_welcome_block h3.forgetpasswordtext{
	font-size: 17px;
}
.listing_card .head .txt img {
    margin-right: 4px;
}
.toggleSettings p {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.toggleSettings .toggler label {
	margin: 0;
}
.settingsMore input {
	height: 40px;
	line-height: 40px;
	color: #000;
	width: 100%;
	margin-bottom: 0;
	padding: 0 14px;
	text-align: center;
	background-color: transparent;
	border: none;
}
.toggleSettings {
	max-width: calc(100% - 40px);
	margin: 0 auto;
}
.settingsMore {
	margin-bottom: 15px;
	display: none;
	align-items: center;
	background: #ffffff;
	border: 1px solid #d9e3ec;
	border-radius: 22px;
}
.settingsMore.active {
	display: flex;
}